%p Hi,

%p Somebody (hopefully you) has requested to receive alerts for licensing applications within #{radius} mile(s) of the postcode #{postcode}

%p To activate your alerts, please click the link below, or paste it into your browser:

%p
	%a{:href => "http://licensing.lichfielddc.gov.uk/activate?hash=#{hash}"}
		http://licensing.lichfielddc.gov.uk/activate?hash=#{hash}

%p This is an automated email, please do not respond directly to it.