%p A comment has been submitted for a licensing application. Their details are as follows:

%p 
	%strong Name
	= name
	
%p 
	%strong Email
	= email
	
%p 
	%strong Address
	= address
	
%p
	%strong Comments:

= body